/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }

.container{
    background-color: antiquewhite;
    max-width: 54.9rem;
    max-height: 87rem;
}

  .container .branding{
    display: flex;
    padding-right: 20rem;
  }
  .header{
    display: flex;
    justify-content: center;
    background-color: rgb(70, 51, 33);
    height: 143VH;
}
.header .container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5rem;
}
.header .container ul li a{
    color: rgb(70, 51, 33);
    font-size: 1.3rem;
    
}
.header .container h2{
    color: rgb(165, 155, 145);
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.container .branding img{
    max-width: 54.9rem;
    
}
.header .container img{
    padding-top: 1rem;
}
.container.gift{
    display: flex;
    justify-content: center;
}
.gift ul li{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.header .container .button{
    border: none;
    justify-content: center;
    display: flex;
    padding-top: 1.8rem;

}
.header .container .button button{
    padding: .7rem 1.7rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(228, 137, 33);
    font-weight: 950;
    font-size: 17px;
    color: antiquewhite;
}
.header .container .button :hover{
    background-color: rgb(201, 121, 31);
    
}
.offer{
    background-color:rgb(70, 51, 33) ;
}
.offer .info button{
    padding: .7rem 1.7rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(228, 137, 33);
    font-weight: 950;
    font-size: 17px;
    color: antiquewhite;
}
.title{
   padding-left: 57rem;
}



/*
  .background{
    background-color: rgb(70, 51, 33);
    height: 100VH;
  }
  
.header{
    display: flex;
    justify-content: center;
}
  .header img{
    background-color: antiquewhite;
    padding: 3.5rem 15rem    ;
    padding-top: 2REM;
    max-width: 550px;
  }
  .nav{
    display:grid ;
  }
 */
